<html>

<head>
  <title>Space Trip</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
  
  
</head>

<body>
  <section id="banner">
    <!-- <a href="#"><img src="" class="logo"></a> -->


    <div class="banner-text">
      
      <h1>SPACE TRIP</h1>
      <p>It's Time To Explore</p>
      <div class="banner-btn">
        <a href="#report"><span></span>Apply Now </a>

        
          <a (click)="viewrecord()" routerLink="/report"><span></span>View Report</a>
      
        <!-- {{record|json}} -->
      </div>
    </div>


   </section>

  <!-- about us -->
  <section class="about" id="about">
    <div class="max-width">
       <h2 class="title">ABOUT US</h2>
       <div class="about-content">
          <div class="column left">
             <img src="../assets/images/space_tourist.jpg" alt="">
          </div>
          <div class="column right">
             <div class="text"><span>SPACE TRIP</span>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                   essentially unchanged.
                   It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                   and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                   Ipsum.</p>
                <a href="/Service"><i class="far fa-rocket"></i>&nbsp;Read More</a>
             </div>
          </div>
       </div>
    </div>
 
    </section>

    <app-form id="report"></app-form>


    <!-- <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="form-group col-md-6">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">Last Name is required</div>
              </div>
          </div>
          <div class="form-group col-md-6">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">First Name is required</div>
              </div>
          </div>
      </div>


      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Date of Birth</label>
                <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                    <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                    <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

        </div>
    </div>



</form>   -->
    
  
  

 

    <!-----------footer Area----------->

<footer>
  <div class="row">
    <div class="col">
      <img src="../assets/images/adv6.jpg" class="logo1">
      <h3>SPACE TRIP<div class="underline"><span></span></div></h3>
    </div>
    <div class="col">
      <h3>Office<div class="underline"><span></span></div></h3>
      <p>IPL Road</p>
      <p>Anna Nagar, Chennai</p>
      <p>TamilNadu, PIN 660066, India</p>
      <p class="email-id">spacetrip@gmail.com</p>
      <h4>+91-9876543210</h4>
    </div>
   
    <div class="col">
      <h3>Newsletter<div class="underline"><span></span></div></h3>
      <form>
        <i class="far fa-envelope"></i>
        <input type="email" placeholder="Enter your email id" required>
        <button type="submit"><i class="fas fa-arrow-right"></i></button>
      </form>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest"></i>
      </div>
    </div>
   </div>
  
</footer>

